{% raw %}
{% extends 'unthemed_blank_base.html' %}
{% load static %}

{% block base_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{% static 'accounting/css/bootstrap-theme.min.css' %}"
          rel="stylesheet"
          crossorigin="anonymous" />
    <link href="{% static 'accounting/css/common.min.css' %}"
          rel="stylesheet"
          crossorigin="anonymous" />
{% endblock base_head %}
{% endraw %}
